body{
    background-color: black;
    font-family: 'Nunito', sans-serif;
    width: 70%;
    margin: auto;
}

/* Quote Container */

h1{
    color: white;
    text-align: center;
    margin-top: 64px;
}

#quote {
    color: aquamarine;
    font-size: 2rem;
    text-align: center;
    border: 5px solid ivory;
    border-radius: 5px;
    padding: 1.5em;
}

@media screen and (max-width: 540px) {
    #quote {
        padding: 1.25rem;
        font-size: 1.25rem;
    }
}

#buttonContainer{
    width: fit-content;
    margin: auto;
}

#quoteButton {
    padding: 10px;
    font-size: 16px;
    background: white;
    border: 5px solid slategray;
    border-radius: 5px;
    color: #141c3a;
    cursor: pointer;
}

#missedButton {
    padding: 10px;
    font-size: 16px;
    background: white;
    border: 5px solid slategray;
    border-radius: 5px;
    color: #141c3a;
    cursor: pointer;
    visibility: hidden;
}

p {
    color: white;
}


#note {
    color: white;
}

/* App Description */

.about {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: aliceblue;
    text-align: center;
}

.about p {
    font-size: 1.25rem;
    
}

.about li {
    text-align: left;
    font-size: 1.25rem;
    list-style-type: circle;
}

/* Footer */

.footer p {
    color: slateblue;
    font-size: 1rem;
    text-align: center;
}
